# Include the README
include README.md
include README_UPSTREAM.md

include requirements.txt

# Include the license file
include LICENSE

# Include the model and data files
recursive-include tiara_entheome/models *
recursive-include tiara_entheome/test/test_data *.fasta.gz
recursive-include tiara_entheome/test/test_data *_out.txt
include tiara_entheome/test/__init__.py
include tiara_entheome/test/test.py

# Do not ship the large uncompressed fasta fixtures
global-exclude *_fr.fasta
